<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lorem Ipsum Inc.</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-header.css">
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />
    <link rel="stylesheet" href="/styles/pages/index.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
        rel="stylesheet" />
</head>

<body id="page-index">
    <header class="page-header">
        <div class="container">
            <section class="top">
                <h1>Lorem Ipsum Inc.</h1>
            </section>


            <div class="separator"></div>

            <section id="summary" class="animated-up delay-1">
                <h2 class="sr-only">Sumário</h2>
                <div class="info">
                    <div class="total">
                        Lista de projetos
                    </div>
                </div>

                <a class="button orange" href="#">
                    <span>
                        <img src="/images/plus-24.svg" alt="Novo Job">
                    </span>
                    Adicionar novo projeto
                </a>
            </section>
        </div>
    </header>

    <div class="container">
        <main class="animated-up delay-2">
            <h1 class="sr-only">Trabalhos</h1>
            <div class="cards">
                <div class="card progress">
                    <div class="id column">1</div>
                    <div class="name column">
                        NuBank
                    </div>
                    <div class="start column">
                        <span>Início</span>
                        <p>04/02/2020</p>
                    </div>
                    <div class="deadline column">
                        <span>Término</span>
                        <p>04/02/2020</p>
                    </div>
                    <div class="amount column">
                        <span>Valor</span>
                        <p>R$ 4500,00</p>
                    </div>
                    <div class="risk column">
                        <span>Risco</span>
                        <p>1</p>
                    </div>

                    <div class="actions column flex">
                        <p class="sr-only">Ações</p>
                        <a href="/job/edit" class="button white edit" title="Editar Job">
                            <img src="/images/edit-24.svg" alt="Editar Job" />
                        </a>
                        <button class="delete button white" title="Excluir Job">
                            <img src="/images/trash-24.svg" alt="Excluir Job" />
                        </button>
                    </div>
                </div>
                <!-- end card -->
                
                <div class="card progress">
                    <div class="id column">1</div>
                    <div class="name column">
                        NuBank
                    </div>
                    <div class="start column">
                        <span>Início</span>
                        <p>04/02/2020</p>
                    </div>
                    <div class="deadline column">
                        <span>Término</span>
                        <p>04/02/2020</p>
                    </div>
                    <div class="amount column">
                        <span>Valor</span>
                        <p>R$ 4500,00</p>
                    </div>
                    <div class="risk column">
                        <span>Risco</span>
                        <p>1</p>
                    </div>

                    <div class="actions column flex">
                        <p class="sr-only">Ações</p>
                        <a href="/job/edit" class="button white edit" title="Editar Job">
                            <img src="/images/edit-24.svg" alt="Editar Job" />
                        </a>
                        <button class="delete button white" title="Excluir Job">
                            <img src="/images/trash-24.svg" alt="Excluir Job" />
                        </button>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </main>
    </div>
</body>

</html>